<style>.image-content { position:absolute; background: rgba(0, 0, 0, 0.0);}</style><style>.ui-widget-content { position:absolute; width: 100px; height: 100px; top: 100px; padding: 0.5em; border: solid black 1px;}</style><script type="text/javascript" src="ajax.js"></script><script type="text/javascript" src="common.js"></script><link rel="stylesheet" type="text/css" href="common.css"/>

  miniDOM             <br>

 


<div id="image1" class="draggable image-content ui-draggable ui-resizable" style="background:#EEE;">
  <img src="http://2.bp.blogspot.com/-SYKyuZse-Iw/T4ZpSpZPbII/AAAAAAAANXw/0byiF4sMjow/s1600/india-house-plan-ff.jpg" style="max-width:100%;max-height:100%;">
<div style="z-index: 90;" class="ui-resizable-handle ui-resizable-e"></div><div style="z-index: 90;" class="ui-resizable-handle ui-resizable-s"></div><div style="z-index: 90;" class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se"></div></div>


<div id="switch2" class="draggable image-content ui-draggable ui-resizable" style="background: none repeat scroll 0% 0% transparent;" onMouseDown="this.style.backgroundColor='rgba(0, 0, 0, 0.3)'" onmouseout="this.style.backgroundColor='rgba(0, 0, 0, 0.0)'">
  <img src="bulb.png" class="blink" name="Lampa1" id="0" style="max-width: 100%; max-height: 100%; opacity: 1;" ondblclick="alert(this,this.name,this.getAttribute('cid'))" onclick="show_onoff(this.id)">  
<div style="z-index: 90;" class="ui-resizable-handle ui-resizable-e"></div><div style="z-index: 90;" class="ui-resizable-handle ui-resizable-s"></div><div style="z-index: 90;" class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se"></div></div>

<div id="box"></div>

<!--Switch on/off div bar                          -->
<div style="display: none;" id="onoffbar" class="centerdiv">
<div style="position:relative;margin:auto;width:300px;color:#FFF;"><br>Nazwa 
<input id="controlbar_name" value="" type="text"><br>  
<input value="TEST ON" onclick="makeRequest(id,1)" type="button">
<input value="TEST OFF" onclick="makeRequest(id,0)" type="button">
<input name="zapisz" value="Ukryj" onclick="$("#onoffbar").fadeOut("fast");" type="button"> </div></div>
<!--************************************************-->

<script>
 $("#onoffbar").hide();
</script>